# For OAuth2.0 authentication with Google
GOOGLE_CLIENT_ID = your-client.id
PORT = 3000

# For Database connection
DB_HOST = localhost
DB_USER = postgres
DB_PASSWORD = 
DB_NAME = db_system_users
DB_SYNCHRONIZE = true

# Para JWT autenticacion
JWT_SECRET = secret

# Frontend allowed origins for CORS with credentials
ALLOWED_ORIGINS = http://localhost:5173

# Para initial seed de usuarios admin. En produccion, no tendran ningun efecto, solo para desarrollo.
ADMIN_CORREOS=correo1@example.com, correo2@example.com
ADMIN_NOMBRES=Admin1, Admin2
ADMIN_APELLIDOS=User1, User2